(
	default_img: "default.jpg",
	sounds: [
		(
			name: "elloMate",
			wav: "elloMate.wav",
			img: None
		),
		(
			name: "PootisEngage",
			wav: "POOTIS ENGAGE.wav",
			img: Some("POOTIS ENGAGE.png")
		),
		(
			name: "Maybe",
			wav: "Maybe.wav",
			img: Some("Maybe.png")
		),
		(
			name: "Hoh the memes",
			wav: "the_memes.wav",
			img: None
		),
		(
			name: "My body tells me yes",
			wav: "my_body_tells_yes.wav",
			img: None
		),
		(
			name: "Somebody!",
			wav: "somebody.wav",
			img: None
		),
		(
			name: "WAH",
			wav: "waluigi_wah.mp3",
			img: None
		),
		(
			name: "Zeus!",
			wav: "zeus.mp3",
			img: None
		),
		(
			name: "Pootis!",
			wav: "pootis.mp3",
			img: None
		),
		(
			name: "AAAAAAAAAA",
			wav: "BASS_AA.wav",
			img: None
		)
	]
)