[
	(
		name: "elloMate",
		wav: "elloMate.wav",
		img: None
	),
	(
		name: "PootisEngage",
		wav: "POOTIS ENGAGE.wav",
		img: Some("POOTIS ENGAGE.png")
	),
	(
		name: "Maybe",
		wav: "Maybe.wav",
		img: None
	),
	(
		name: "Ah the memes",
		wav: "the_memes.wav",
		img: None
	)
]